.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: black;
  background-color: #ECEFF1;
  border: none;
  border-radius: 0 8px 0 8px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  white-space: nowrap;
  font-size: 1rem;
}

.btn:hover {
  color: white;
  border-radius: 0 8px 0 8px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  border-radius: 0 8px 0 8px;
}

.btn:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn_std {
  border-radius: 4px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn_green:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_green:before {
  background-color: #57D507;
}

.btn_red {
  width: 240px;
  height: 40px;
}

.btn_red :before {
  background-color: #FF1744;
}

.btn_gold {
  color: #ECEFF1;
  background-color: rgba(255, 171, 0, 0);
  border: 1px solid #FFAB00;
}

.btn_gold:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_gold:before {
  background-color: #FFAB00;
}

.btn.md {
  width: 150px;
  height: 40px;
}

.btn.lg {
  width: 240px;
  height: 40px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

@media only screen and (min-width: 681px) {
  .logo {
    max-width: 170px;
  }
}

.logo h1 {
  width: 110px;
  height: 30px;
  margin: 0;
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-weight: 400;
  text-align: center;
}

.bg-black {
  background: #272727 url("../img/bases/bg.jpg") center/100px repeat;
}

.error {
  border: 1px solid #B71C1C !important;
  -webkit-box-shadow: 2px 2px 4px red, -2px -2px 4px red;
          box-shadow: 2px 2px 4px red, -2px -2px 4px red;
}

.aviso {
  color: #FF1744;
  font-weight: 200;
  font-size: 0.8rem;
}

body, main, nav, footer, div, input, button {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E0E0E0 url("../img/trama.png") center repeat;
  -webkit-box-shadow: 2px 0 8px #272727;
          box-shadow: 2px 0 8px #272727;
}

@media only screen and (min-width: 1221px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1%;
  }
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px 0;
  padding: 0;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (min-width: 320px) {
  nav .menu {
    width: 96%;
    max-width: 480px;
  }
}

@media only screen and (min-width: 681px) {
  nav .menu {
    width: 480px;
  }
}

nav .compress {
  margin: 0;
  padding: 0;
  width: 94%;
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

@media only screen and (min-width: 320px) {
  nav .compress {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1221px) {
  nav .compress {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

nav .compress #buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 0;
  width: 90%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 681px) {
  nav .compress #buscar {
    max-width: 300px;
    margin: 0 30px;
  }
}

nav .compress #buscar input[type="text"] {
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #BDBDBD;
  border-radius: 6px 0 0 6px;
}

nav .compress #buscar input[type="submit"] {
  width: 20%;
  height: 30px;
  max-width: 60px;
  border: 1px solid #BDBDBD;
  border-left: none;
  border-radius: 0 6px 6px 0;
}

nav .compress #buscar input[type="submit"]:hover {
  cursor: pointer;
}

nav .icon {
  width: 92%;
  height: 50px;
  margin: 0 4%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #616161;
  text-decoration: none;
  color: #272727;
}

@media only screen and (min-width: 320px) {
  nav .icon {
    max-width: 150px;
    border-top: none;
    margin: 0;
  }
}

@media only screen and (min-width: 681px) {
  nav .icon {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 50%;
  }
}

nav .icon .perfil {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 90%;
  overflow: hidden;
}

nav .icon .perfil img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

nav .icon h2 {
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 80px;
}

@media only screen and (min-width: 681px) {
  nav .icon h2 {
    display: none;
  }
}

nav .icon:last-child {
  border-bottom: 1px solid #616161;
  margin-bottom: 15px;
}

@media only screen and (min-width: 320px) {
  nav .icon:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

nav .icon:hover {
  background-color: #BDBDBD;
}

nav .car {
  width: 44px;
  height: 44px;
}

nav .hamburguesa {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 10px;
  border: 1px solid #616161;
  background-color: #E0E0E0;
  border-radius: 10px;
  text-decoration: none;
  color: #272727;
}

@media only screen and (min-width: 1221px) {
  nav .hamburguesa {
    display: none  !important;
  }
}

nav .hamburguesa svg {
  width: 40px;
  height: 40px;
}

nav .active {
  background-color: #BDBDBD;
}

nav .active:hover {
  background-color: #E0E0E0;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #272727 url("../img/bases/bg.jpg") center/100px repeat;
}

main .section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 145px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1221px) {
  main .section {
    padding-top: 90px;
  }
}

main .section-mod {
  padding-top: 124px;
}

@media only screen and (min-width: 1221px) {
  main .section-mod {
    padding-top: 70px;
  }
}

.container_main {
  width: 90%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background-color: black;
  -webkit-box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
  color: #ECEFF1;
}

.container_main_item {
  width: 90%;
  height: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media only screen and (min-width: 681px) {
  .container_main_item {
    width: 46%;
    height: 90%;
  }
}

.container_main_item h2 {
  margin: 5px;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 200;
  margin-right: 30px;
}

@media only screen and (min-width: 320px) {
  .container_main_item h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1221px) {
  .container_main_item h2 {
    font-size: 2.6rem;
  }
}

.container_main_item h3 {
  margin: 5px;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 23px;
}

@media only screen and (min-width: 320px) {
  .container_main_item h3 {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1221px) {
  .container_main_item h3 {
    font-size: 3.2rem;
  }
}

.container_main_item h3 span {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  position: relative;
}

.container_main_item h3 span:before {
  content: 'Clever';
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -1;
}

.container_main_item h3 span:hover:before {
  content: '';
  background-color: #ECEFF1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -3;
}

.container_main_pleca {
  width: 90%;
  height: 3px;
  background-color: #FFAB00;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

@media only screen and (min-width: 681px) {
  .container_main_pleca {
    width: 3px;
    height: 90%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.container_title {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272727;
  font-size: 2rem;
}

.container_content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_content .articulo {
  width: 28%;
  height: 200px;
  margin: 25px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  background: #E0E0E0;
  text-decoration: none;
}

.container_content .articulo h3, .container_content .articulo h2 {
  margin: 0;
  padding: 0;
  color: #272727;
}

.container_content .articulo h2 {
  font-size: 2rem;
}

.container_blog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: black;
  color: #ECEFF1;
  position: relative;
}

.container_blog .lat_izq {
  width: 30%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0);
}

.container_blog .lat_izq h1 {
  font-size: 3rem;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 15px;
}

.container_blog .lat_izq h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ECEFF1;
}

.container_blog .lat_izq p {
  margin: 60px auto;
}

.container_blog .lat_der {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black url("../img/bases/blog-bg2.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 1221px) {
  .container_blog .lat_der {
    width: 70%;
    height: 100%;
  }
}

.container_blog .lat_der img {
  width: 100%;
  height: 100%;
}

.container_register {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 40px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
  border-radius: 20px;
  border: 1px solid #272727;
  max-width: 540px;
  color: #E0E0E0;
  -webkit-box-shadow: 4px 4px 3px #616161;
          box-shadow: 4px 4px 3px #616161;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container_register .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.container_register .form .img {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  padding: 0;
  display: block;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  background: url("http://localhost/store/public/img/anonimo.png") center/100% no-repeat;
  cursor: pointer;
}

.container_register .form .img #img {
  margin: 0;
  padding: 0;
  opacity: 0;
}

.container_register .form .field {
  width: 350px;
  margin: 15px 0;
  padding: 0;
}

.container_register .form .field h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.container_register .form .field label {
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  width: 30%;
}

.container_register .form .field label sup {
  font-size: 1.1rem;
  font-weight: 300;
  color: red;
}

.container_register .form .field input[type="text"] {
  width: 60%;
  padding: 4px 8px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #BDBDBD;
  font-size: 1.1rem;
}

.container_register .form .obl {
  color: #FF1744;
}

.container_register .img_success {
  width: 180px;
  height: 180px;
  margin: 30px 0;
  padding: 0;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.cart .title h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.cart_item {
  width: 98%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 1%;
  background-color: #E0E0E0;
  border: 1px solid #616161;
  color: #272727;
}

.cart_item .img {
  width: 28%;
  height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1%;
  padding: 0;
  border: 1px solid #BDBDBD;
  padding-bottom: 28%;
}

.cart_item .detail {
  width: 70%;
  height: auto;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_item .detail .info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_item .detail .info h2 {
  width: 96%;
  height: auto;
  margin-right: 4%;
  display: inline-block;
  text-align: right;
}

.cart_item .detail .options {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_item .detail .options a.goto {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ECEFF1;
  display: block;
  background-color: #BDBDBD;
  text-decoration: none;
}

.cart_item .detail .options a.delete {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ECEFF1;
  display: block;
  background-color: #FF1744;
  text-decoration: none;
}

.fp-tableCell {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  max-height: 100% !important;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #616161;
}

.hidden {
  display: none !important;
  opacity: 1;
}

@media only screen and (min-width: 1221px) {
  .hidden {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.transition {
  opacity: 1;
  -webkit-transition: opacity 0.5s 1s ease-in;
  transition: opacity 0.5s 1s ease-in;
}
