.form_black, .form_white, .form_register, .form_nouser {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 20px;
  color: #E0E0E0;
  -webkit-box-shadow: 5px 5px 2px #424242;
          box-shadow: 5px 5px 2px #424242;
  background: #272727 url("../img/trama_bk.png") center/200px repeat;
}

.form_black .title, .form_white .title, .form_register .title, .form_nouser .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212121;
  border-radius: 0 20px 0 0;
  width: 100%;
}

.form_black .title h2, .form_white .title h2, .form_register .title h2, .form_nouser .title h2 {
  margin: 10px auto;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
}

.form_black .body, .form_white .body, .form_register .body, .form_nouser .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_black .footer, .form_white .footer, .form_register .footer, .form_nouser .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  background-color: #313131;
  border-radius: 0 0 0 20px;
  width: 100%;
}

.form_black .field, .form_white .field, .form_register .field, .form_nouser .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 5px;
  padding: 0;
  width: 100%;
}

.form_black .group, .form_white .group, .form_register .group, .form_nouser .group {
  margin: 20px 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.form_black .warning, .form_white .warning, .form_register .warning, .form_nouser .warning {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #FF1744;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 300px;
  -webkit-box-shadow: 2px 0 8px #272727;
          box-shadow: 2px 0 8px #272727;
  max-height: 100%;
}

@media only screen and (min-width: 1175px) {
  nav {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1%;
  }
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 300px;
  background: #E0E0E0 url("../img/trama.png") center repeat;
  -webkit-box-shadow: 2px 0 8px #272727;
          box-shadow: 2px 0 8px #272727;
  overflow: hidden;
}

@media only screen and (min-width: 1175px) {
  nav .wrapper {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1%;
  }
}

nav .wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px 0;
  padding: 0;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (orientation: portrait) {
  nav .wrapper .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 320px) {
  nav .wrapper .menu {
    width: 96%;
    max-width: 480px;
  }
}

@media only screen and (min-width: 681px) {
  nav .wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 480px;
  }
}

@media screen and (orientation: portrait) {
  nav .wrapper .menu .btn {
    width: 46%;
  }
}

@media screen and (orientation: portrait) {
  nav .wrapper .menu .btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

nav .wrapper .compress {
  margin: 0;
  padding: 0;
  width: 94%;
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

@media only screen and (min-width: 320px) {
  nav .wrapper .compress {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1175px) {
  nav .wrapper .compress {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

nav .wrapper .compress #buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 0;
  width: 90%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 681px) {
  nav .wrapper .compress #buscar {
    max-width: 300px;
    margin: 0 30px;
  }
}

nav .wrapper .compress #buscar input[type="text"] {
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #BDBDBD;
  border-radius: 6px 0 0 6px;
}

nav .wrapper .compress #buscar input[type="submit"] {
  width: 20%;
  height: 30px;
  max-width: 60px;
  border: 1px solid #BDBDBD;
  border-left: none;
  border-radius: 0 6px 6px 0;
}

nav .wrapper .compress #buscar input[type="submit"]:hover {
  cursor: pointer;
}

nav .wrapper .compress .icon {
  width: 92%;
  height: 50px;
  margin: 0 4%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #616161;
  text-decoration: none;
  color: #272727;
}

@media only screen and (min-width: 320px) {
  nav .wrapper .compress .icon {
    max-width: 150px;
    border-top: none;
    margin: 0;
  }
}

@media only screen and (min-width: 681px) {
  nav .wrapper .compress .icon {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 50%;
  }
}

nav .wrapper .compress .icon .perfil {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 90%;
  overflow: hidden;
}

nav .wrapper .compress .icon .perfil img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

nav .wrapper .compress .icon h2 {
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  display: block;
  width: 80px;
}

@media only screen and (min-width: 681px) {
  nav .wrapper .compress .icon h2 {
    display: none;
  }
}

nav .wrapper .compress .icon:last-child {
  border-bottom: 1px solid #616161;
  margin-bottom: 15px;
}

@media only screen and (min-width: 320px) {
  nav .wrapper .compress .icon:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

nav .wrapper .compress .icon:hover {
  background-color: #BDBDBD;
}

nav .wrapper .compress .car {
  width: 44px;
  height: 44px;
}

nav .hamburguesa {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid #FFAB00;
  background-color: rgba(66, 66, 66, 0.702);
  border-radius: 10px;
  text-decoration: none;
  color: #272727;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 1175px) {
  nav .hamburguesa {
    display: none  !important;
  }
}

nav .hamburguesa span {
  margin: 0;
  padding: 0;
  display: block;
  width: 70%;
  height: 3px;
  background-color: #FFAB00;
  border-radius: 2px;
}

nav .active {
  background-color: #616161;
}

nav .active:hover {
  background-color: #E0E0E0;
}

.hidden {
  height: 0 !important;
}

@media only screen and (min-width: 1175px) {
  .hidden {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
  }
}

.form_black, .form_white, .form_register, .form_nouser {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 20px;
  color: #E0E0E0;
  -webkit-box-shadow: 5px 5px 2px #424242;
          box-shadow: 5px 5px 2px #424242;
  background: #272727 url("../img/trama_bk.png") center/200px repeat;
}

.form_black .title, .form_white .title, .form_register .title, .form_nouser .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212121;
  border-radius: 0 20px 0 0;
  width: 100%;
}

.form_black .title h2, .form_white .title h2, .form_register .title h2, .form_nouser .title h2 {
  margin: 10px auto;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
}

.form_black .body, .form_white .body, .form_register .body, .form_nouser .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_black .footer, .form_white .footer, .form_register .footer, .form_nouser .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  background-color: #313131;
  border-radius: 0 0 0 20px;
  width: 100%;
}

.form_black .field, .form_white .field, .form_register .field, .form_nouser .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 5px;
  padding: 0;
  width: 100%;
}

.form_black .group, .form_white .group, .form_register .group, .form_nouser .group {
  margin: 20px 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.form_black .warning, .form_white .warning, .form_register .warning, .form_nouser .warning {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #FF1744;
}

.form_black {
  background-color: #272727;
}

.form_white {
  background-color: #BDBDBD;
}

.form_white .body {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form_register {
  background-color: #272727;
  max-width: 450px;
}

.form_register label {
  margin: 5px 5px;
  padding: 0;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  width: 110px;
  text-align: center;
}

@media only screen and (min-width: 363px) {
  .form_register label {
    text-align: right;
  }
}

.form_register label sup {
  font-size: 1rem;
  font-weight: 300;
  color: red;
}

.form_register input[type="text"] {
  width: 90%;
  padding: 4px 8px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #BDBDBD;
  font-size: 1.1rem;
}

@media only screen and (min-width: 360px) {
  .form_register input[type="text"] {
    width: 50%;
  }
}

.form_nouser {
  background-color: #272727;
  max-width: 500px;
}

.form_nouser h3, .form_nouser h2 {
  margin: 0;
  padding: 0;
}

.form_nouser h2 {
  font-size: 2rem;
  text-align: center;
}

.form_nouser h3 {
  font-weight: 300;
  text-align: center;
}

.photo {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFAB00;
  border-radius: 50%;
  overflow: hidden;
  background: url("http://localhost/store/public/img/anonimo.png") center/100% no-repeat;
}

.photo_input {
  width: 200px;
  height: 200px;
  background: url("http://localhost/store/public/img/anonimo.png") center/100% no-repeat;
  margin: 50px 0 10px;
  position: relative;
  cursor: pointer;
}

.photo_input label {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.photo_input #img {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  margin: 0;
  padding: 0;
  min-width: 300px;
  width: 100%;
  min-width: 300px;
  background: #ECEFF1 url("../img/bases/bg.jpg") center/100px repeat;
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  max-height: 100%;
}

@media only screen and (min-width: 1175px) {
  .section {
    padding-top: 90px;
  }
}

.container_main {
  width: 90%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background-color: black;
  -webkit-box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
  color: #ECEFF1;
}

.container_main .col {
  width: 90%;
  height: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container_main .col_backImg {
  background: black url("../img/trama_bk.png") center/200px repeat;
}

@media screen and (orientation: landscape) {
  .container_main .col {
    width: 46%;
    height: 90%;
  }
}

.container_main .col .slogan {
  width: 80%;
  height: auto;
}

.container_main .col .slogan h2 {
  margin: 5px;
  padding: 0;
  display: inline;
  font-size: 1.6rem;
  font-weight: 200;
  margin-right: 30px;
  white-space: nowrap;
}

@media only screen and (min-width: 320px) {
  .container_main .col .slogan h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1175px) {
  .container_main .col .slogan h2 {
    font-size: 2.6rem;
  }
}

.container_main .col .slogan h3 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .container_main .col .slogan h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1175px) {
  .container_main .col .slogan h3 {
    margin: 5px;
    padding: 0;
    font-size: 3.2rem;
  }
}

.container_main .col .slogan h3 span {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  position: relative;
}

.container_main .col img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container_articles {
  width: 96%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.container_articles .header {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272727;
  font-size: 2rem;
}

.container_articles .header h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #272727;
}

.container_articles .shelf .articles_group {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 30px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_articles .shelf .articles_group .article {
  border: 1px solid #FFAB00;
  width: 40%;
  text-decoration: none;
  margin: 5px;
}

@media screen and (orientation: landscape) {
  .container_articles .shelf .articles_group .article {
    width: 18%;
  }
}

.container_articles .shelf .articles_group .article .title {
  background-color: #BDBDBD;
  color: #272727;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container_articles .shelf .articles_group .article .title h2 {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  margin: 5px;
}

.container_articles .shelf .articles_group .article .img {
  padding: 0;
}

.container_articles .shelf .articles_group .article .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_articles .shelf .articles_group .article .footer {
  background-color: #272727;
  padding: 5px 10px;
}

.container_articles .shelf .articles_group .article .footer h2 {
  font-size: 1rem;
  line-height: 0;
  margin: 5px auto;
}

.container_articles .shelf .articles_group .article .footer h2::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f155';
}

.container_blog {
  width: 90%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background-color: black;
  -webkit-box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.6);
  color: #ECEFF1;
}

.container_blog .col {
  width: calc(46% - 3px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 10px 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black url("../img/trama_bk.png") center/200px repeat;
}

@media screen and (orientation: portrait) {
  .container_blog .col {
    width: 100%;
    height: calc(46% - 3px);
  }
}

.container_blog .col .bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.container_blog .col .bullet .logo {
  margin: 0 0 5px;
  border-bottom: 1px solid #FFAB00;
}

@media only screen and (min-width: 681px) {
  .container_blog .col .bullet .logo {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.container_blog .col .bullet h2 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  letter-spacing: 2px;
}

.container_blog .col .bullet p {
  font-weight: 200;
  margin: 15px auto;
  text-align: center;
  letter-spacing: 1px;
}

.container_blog .pleca {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media screen and (orientation: portrait) {
  .container_blog .pleca {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.container_blog .col_img {
  width: 54%;
  height: 100%;
  -webkit-clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (orientation: portrait) {
  .container_blog .col_img {
    width: 100%;
    height: 54%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 100%);
  }
}

.container_blog .col_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_detail {
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.container_detail .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E0E0;
  color: #272727;
  padding: 10px 5px;
  border-radius: 0 8px 0 8px;
}

.container_detail .info .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  background-color: #BDBDBD;
  font-weight: 400;
  margin: 0;
  padding: 5px;
  text-align: center;
  border-top-right-radius: 8px;
}

.container_detail .info .seguro {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 5px 0;
}

.container_detail .info .seguro::before {
  font-family: "Font Awesome 5 Free";
  content: '\f023';
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 15px;
  border-radius: 50%;
}

.container_detail .info .envio {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 5px 0;
}

.container_detail .info .envio::before {
  font-family: "Font Awesome 5 Free";
  content: '\f0d1';
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 15px;
  border-radius: 50%;
}

.container_detail .info .price {
  font-size: 2rem;
  font-weight: 600;
  background-color: #ECEFF1;
}

.container_detail .info .price::before {
  font-family: "Font Awesome 5 Free";
  content: '\f155';
  font-size: 2rem;
  font-weight: 600;
  margin: 0 5px;
}

.container_detail .field {
  width: 100%;
  margin: 20px 0;
  color: #616161;
}

.container_detail .description {
  margin: 15px auto;
  border-bottom-left-radius: 8px;
  color: #272727;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  display: block;
  text-decoration: none;
  position: relative;
  color: #272727;
  background-color: #ECEFF1;
  border: none;
  border-radius: 0 8px 0 8px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  white-space: nowrap;
  font-size: 1rem;
}

.btn span i {
  margin: 2px 4px;
  font-size: 1.2rem;
}

.btn:hover {
  color: white;
  border-radius: 0 8px 0 8px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  border-radius: 0 8px 0 8px;
}

.btn:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn_std {
  border-radius: 4px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn_green:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_green:before {
  background-color: #57D507;
}

.btn_white {
  color: #ECEFF1;
  background-color: rgba(255, 171, 0, 0);
  border: 1px solid #ECEFF1;
}

.btn_white:hover {
  color: #272727;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn_white:before {
  background-color: #ECEFF1;
}

.btn_red:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_red:before {
  background-color: #FF1744;
}

.btn_warning {
  border: 1px solid #FF1744;
  background-color: rgba(255, 23, 68, 0);
  color: #FF1744;
}

.btn_warning:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_warning:before {
  background-color: #FF1744;
}

.btn_gold {
  color: #ECEFF1;
  background-color: rgba(255, 171, 0, 0);
  border: 1px solid #FFAB00;
}

.btn_gold:hover {
  color: #272727;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_gold:before {
  background-color: #FFAB00;
}

.btn.sm {
  width: 100px;
  height: 40px;
}

.btn.md {
  width: 150px;
  height: 40px;
}

.btn.lg {
  width: 250px;
  height: 40px;
}

.btn_add_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: calc(100% - 10px);
}

@media only screen and (min-width: 681px) {
  .btn_add_buy {
    max-width: 420px;
  }
}

.btn_add_buy .add {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid #FFAB00;
  background-color: #BDBDBD;
}

@media only screen and (min-width: 681px) {
  .btn_add_buy .add {
    margin: 0;
    padding: 0;
    width: 30%;
    border-top-right-radius: 0;
  }
}

.btn_add_buy .add span::before {
  font-family: "Font Awesome 5 Free";
  content: '\f218';
  font-size: 1rem;
  font-weight: 800;
  margin: 0 5px;
}

.btn_add_buy .buy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #0F0F0F;
}

@media only screen and (min-width: 681px) {
  .btn_add_buy .buy {
    margin: 0;
    padding: 0;
    width: calc(70% - 3px);
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.btn_add_buy .buy span::before {
  font-family: "Font Awesome 5 Free";
  content: '\f155';
  font-size: 1rem;
  font-weight: 600;
  margin: 0 5px;
}

.back-black {
  background-color: black;
  color: white;
}

.pleca {
  width: 90%;
  height: 3px;
  background-color: #FFAB00;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

@media screen and (orientation: landscape) {
  .pleca {
    width: 3px;
    height: 90%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

@media only screen and (min-width: 681px) {
  .logo {
    max-width: 170px;
  }
}

.logo h1 {
  width: 110px;
  height: 30px;
  margin: 0;
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-weight: 400;
  text-align: center;
}

.mx-10px {
  margin: 10px 0;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.error {
  border: 1px solid #B71C1C !important;
  -webkit-box-shadow: 2px 2px 4px red, -2px -2px 4px red;
          box-shadow: 2px 2px 4px red, -2px -2px 4px red;
}

.aviso {
  color: #FF1744;
  font-weight: 200;
  font-size: 0.8rem;
}

.col-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 15px);
  height: auto;
  border-radius: 3px;
}

.col-50 .img {
  padding: 5px;
  border: 1px solid #FFAB00;
}

.col-50 .img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.col-50_black {
  border: 1px solid #616161;
  border-radius: 8px;
}

.col-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 15px);
  height: auto;
  background-color: #E0E0E0;
}

body, main, nav, footer, div, input, button {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.cart .title h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.cart_item {
  width: 98%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 1%;
  background-color: #E0E0E0;
  border: 1px solid #616161;
  color: #272727;
}

.cart_item .img {
  width: 28%;
  height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1%;
  padding: 0;
  border: 1px solid #BDBDBD;
  padding-bottom: 28%;
}

.cart_item .detail {
  width: 70%;
  height: auto;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_item .detail .info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_item .detail .info h2 {
  width: 96%;
  height: auto;
  margin-right: 4%;
  display: inline-block;
  text-align: right;
}

.cart_item .detail .options {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_item .detail .options a.goto {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ECEFF1;
  display: block;
  background-color: #BDBDBD;
  text-decoration: none;
}

.cart_item .detail .options a.delete {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ECEFF1;
  display: block;
  background-color: #FF1744;
  text-decoration: none;
}

.fp-tableCell {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  max-height: 100% !important;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fp-prev {
  border-right-color: #272727 !important;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  left: 5px !important;
  -webkit-animation: move 0.8s ease-out alternate infinite;
          animation: move 0.8s ease-out alternate infinite;
}

.fp-next {
  border-left-color: #272727 !important;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  right: 5px !important;
  -webkit-animation: move 0.8s ease-out alternate infinite;
          animation: move 0.8s ease-out alternate infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

footer {
  width: 100%;
  height: 60px;
  background-color: #616161;
}

.transition {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
