@import '_vars';

.btn{
  @include content-box;
  @include wh(30px, 100px);
  @include pm(5px, 5px);
  display: block;
  text-decoration: none;
  position: relative;
  color: $carbon;
  background-color: #F0F4F4;
  border: none;
  border-radius: 0 8px 0 8px;
  transition: 0.5s ease-out;
  overflow: hidden;
  
  span{
    @include center-position;
    display: block;
    white-space: nowrap;
    font-size: 1rem;

    i{  //Es posible que no sea necesario revisar en las estructuras de los primeros botones
      margin: 2px 4px;
      font-size: 1.2rem;
    }
  }

  &:hover{
    color: white;
    border-radius: 0 8px 0 8px;
    transform: scale(1.2);
  
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $carbon;
    transition: transform 0.5s ease-in;
    transform-origin: center;
    transform: scaleX(0);
    z-index: -1;
    border-radius: 0;
  }

  &:hover:before{
    transform: scaleX(1);
  }

  // #region [1] ======== ( BTN_STD ) ========
  &_std{
    border-radius: 4px;
    transition: 0.5s ease-out;
  }
  // #endregion   ========================

  // #region [2] ======== ( BTN_GREEN ) ========
  &_green{

    &:hover{
      transform: scale(1.05);
    }

    &:before{
      background-color: #57D507;
    }
  }
  // #endregion   ========================

  // #region [6] ======== ( BTN_WHITE ) ========
  &_white{
    color: $white-lt;
    background-color: rgba(100%, 67.1%, 0%, 0);
    border: 1px solid $white-lt;

    &:hover{
      color: $carbon;
      transform: scale(1.05);
      border: 1px solid rgba(0, 0, 0, 0);
    }

    &:before{
      background-color: $white-lt;
    }
  }
  // #endregion   ========================

  // #region [3] ======== ( BTN_RED ) ========
  &_red{

    &:hover{
      transform: scale(1.05);
    }

    &:before{
      background-color: #FF1744;
    }
  }
  // #endregion   ========================

  &_warning{
    border: 1px solid #FF1744;
    background-color: rgba(100%, 9%, 26.7%, 0);
    color: #FF1744;

    &:hover{
      transform: scale(1.05);
    }

    &:before{
      background-color: #FF1744;
    }
  }

  // #region [4] ======== ( BTN_GOLD ) ========
  &_gold{
    color: $white-lt;
    background-color: rgba(100%, 67.1%, 0%, 0);
    border: 1px solid $gold;

    &:hover{
      color: $carbon;
      transform: scale(1.05);
    }

    &:before{
      background-color: $gold;
    }
  }
  // #endregion   ========================

  // #region [5] ======== ( MODIFIERS ) ========
  &.sm{
    @include wh(40px, 100px);
  }

  &.md{
    @include wh(40px, 150px);
  }

  &.lg{
    @include wh(40px, 250px);
  }
  // #endregion   ========================

}

.btn_add_buy{
  @include center-flex(space-between);
  @include pm(0, 10px 0);
  width: calc(100% - 10px);

    @include mediaSize($tablet){
      max-width: 420px;
    }
  

  .add{
    @include content-box;
    @include pm();
    @include wh(40px, 30%);
    border: 1px solid $neutro-bk;
    background-color: $neutro-md;

    .agregar::after{
      @include mediaSize(860px){
        content:' Agregar';
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }

  .buy{
    @include content-box;
    @include pm();
    @include wh(40px, calc(70% - 10px));
    background-color: $carbon;

    span::before{
    font-family:"Font Awesome 5 Free";
    content: '\f155';
    font-size: 1rem;
    font-weight: 600;
    margin: 0 5px;
    }

    &:hover{
      transform: scale(1.02);
    }
  }
}

.btn_pop{
  @include wh();
  @include center-flex(center, center);
  background-color: rgba(46.3%, 100%, 1.2%, 0);
  // background-color: $neutro-bk;
  border: none;
  position: relative;
  text-decoration: none;

  &:before{
    content: '';
    width: 60px;
    height: 60px;
    // @include wh();
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: $neutro-bk;
    box-shadow: 0 0 0 $carbon;
    position: absolute;
    top: 50%;
    left: 50%;
    transition-property: transform, border-radius, box-shadow;
    transition-delay: 0.5s, 0.8s, 2.3s;
    transition-duration: 0.8s, 0.8s, 0.6s;
    transition-timing-function: cubic-bezier(.25,1.5,.9,1.5), ease-in, ease-out;
    // transition-timing-function: cubic-bezier(0,1.49,.73,1.51), ease-in, ease-out;
    z-index: 0;
  }

  &:hover::before{
    transform: translate(-50%, -50%) scale(1);
    border-radius: 0;
    box-shadow: 3px 3px 4px black;
  }

  &:hover .btn_wrapper{
    color: $carbon;
    text-shadow: 0 0 0 black;
    transform: scale(1.4);
    
  }

  // &:hover .wrapper i, 
  // &:hover .wrapper .alt{
  //   color: $carbon;
  //   // text-shadow: 0 0 0 black;
  //   // transform: scale(1.4);
  // }

  .btn_wrapper{
    @include center-flex(center, center, column);
    @include wh();
    transform: scale(1);
    transition-property: transform, color;
      transition-delay: 0s, 0.3s;
      transition-duration: 0.5s, 0.5s;
      transition-timing-function: cubic-bezier(0,1.4,.4,-0.46), ease-out;
      z-index: 5;

    i, .alt{
      
      transition-property: transform, color;
      transition-delay: 0s, 0.3s;
      transition-duration: 0.5s, 0.5s;
      transition-timing-function: cubic-bezier(0,1.4,.4,-0.46), ease-out;
    }

    i{
      color: $neutro-md;
      font-size: 1.5rem;
      font-weight: 600;
      position: relative;
      text-shadow: 2px 1px 1px rgba(0%, 0%, 0%, 0.5);
      
    }
  
    .alt{
      color: $neutro-md;
      margin-bottom: 0;
    }
  }

  
}

.btn_circle{
  @include wh(80px, 80px);
  @include center-flex();
  background-color: $gold;
  border: 1px solid $gold;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  transform: scale(1);
  transition: transform 0.5s ease-out;

  &:hover{
    transform: scale(1.2);
  }

  .icon{
    @include pm();
    font-size: 1em;
    line-height: 1;
  }

  &.gray{
    background-color: $carbon;
    border-color: $carbon;
  }

  &.outline{
    background-color: #F0F0F0;
    color: $gold;
  }

  &.disabled{
    border-color: $neutro-md;
    color: $neutro-md;
  }

  &.md{
    @include wh(70px, 70px);
    font-size: 1.8rem;
  }
}
