@import '_vars';

%form_basic{
  @include wh(auto, 90%);
  @include pm(0, auto);
  @include content-box;
  @include center-flex(center, center, column);
  border-radius: 0 20px;
  color: $neutro-lt;
  box-shadow: 5px 5px 2px #424242;
  background: $carbon url('../img/trama_bk.png') center / 200px repeat;

  .title{
    @include center-flex(flex-start);
    @include content-box;
    @include pm(0 10px);
    background-color: #212121;
    border-radius: 0 20px 0 0;
    width: 100%;
    overflow: hidden;

    @include mediaSize($tablet){
      justify-content: center;
    }

    h2{
      @include pm(0, 10px auto);
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
    }
  }

  .body{
    @include center-flex();
    @include wh(auto);
    @include pm(20px);
    @include content-box;
  }

  .footer{
    @include center-flex();
    @include content-box;
    @include pm(10px 20px);
    background-color: #313131;
    border-radius: 0 0 0 20px;
    width: 100%;
  }

  .field{
    @include center-flex();
    @include content-box;
    @include pm(0, 15px 5px);
    width: 100%;
  }

  .group{
    @include pm(0, 20px 0);
    @include content-box;
    width: 100%
  }

  .warning{
    @include pm();
    font-size: 0.9rem;
    font-weight: 300;
    color:#FF1744;
  }

}