@import '_vars';

nav{
  @include center-flex(flex-start, center, column);
  @include position-fixed();
  @include pm(5px);
  @include wh(auto, 100%);
  @include content-box;
  @include min-width;
  background: $neutro-lt url('../img/trama.png') center repeat;
  box-shadow: 2px 0 8px $carbon;
  
  
    @include mediaSize($laptop){
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1%;
    }

  .menu{
    @include center-flex(space-around);
    @include pm(0, 0 0 5px 0);
    width: 100%;
    flex-wrap: nowrap; //REVISAR!!!!

      @include mediaSize($smartphone){
        width: 96%;
        max-width: 480px;
      }

      @include mediaSize($tablet){
        width: 480px;
      }
  }

  .compress{
    @include pm();
    @include wh(initial, 94%);
    @include center-flex(center, center, column);
    border-radius: 5px;

    @include mediaSize($smartphone){
      width: 90%;
      flex-direction: row;
    };

    @include mediaSize($laptop){
      width: 500px;
      justify-content: flex-end;
    };

    #buscar{
      @include center-flex();
      @include pm(0, 20px 0);
      @include wh(30px, 90%);
      @include content-box;

        @include mediaSize($tablet){
          max-width: 300px;
          margin: 0 30px;
        }

      input[type="text"]{
        @include wh(30px, 80%);
        @include pm(0 10px);
        border: 1px solid $neutro-md;
        border-radius: 6px 0 0 6px;
      }
      
      input[type="submit"]{
        @include wh(30px, 20%);
        max-width: 60px;
        border: 1px solid $neutro-md;
        border-left: none;
        border-radius: 0 6px 6px 0;
      }

      input[type="submit"]:hover{
        cursor: pointer;
      }
    }
  }

  .icon{
    @include wh(50px, 92%);
    @include pm(0, 0 4%);
    @include center-flex();
    @include content-box;
    border-top: 1px solid $neutro-bk;
    text-decoration: none;
    color: $carbon;

      @include mediaSize($smartphone){
        max-width: 150px;
        border-top: none;
        margin: 0;
      }

      @include mediaSize($tablet){
        width: 60px;
        height: 60px;
        margin: 0 5px;
        border-radius: 50%;

      }

    .perfil{
      @include wh(50px, 50px);
      @include center-flex();
      max-height: 90%;
      overflow: hidden;

      img{
        width: 45px;
        height: 45px;

        border-radius: 50%;
      }
    }

    h2{
      @include pm(0, 0 0 0 10px);
      font-weight: 300;
      font-family: 'Raleway', sans-serif;
      display: block;
      width: 80px;

        @include mediaSize($tablet){
          display: none;
        }
    }
  }

  .icon:last-child{
    border-bottom: 1px solid $neutro-bk;
    margin-bottom: 15px;

      @include mediaSize($smartphone){
        margin-bottom: 0;
        border-bottom: none;
      }
  }

  .icon:hover{
    background-color: $neutro-md;
  }

  .car{
    @include wh(44px, 44px);
  }

  .hamburguesa{
    @include wh(40px, 40px);
    @include pm(2px);
    @include center-flex(space-evenly, center, column);
    @include content-box;
    position: absolute;
    top: 15px;
    right: 10px;
    border: 1px solid $carbon;
    background-color: $neutro-lt;
    border-radius: 10px;
    text-decoration: none;
    color: $carbon;

      @include mediaSize($laptop){
        display: none  !important;
      }

    // svg{
    //   @include wh(40px, 40px);
    // }

    span{
      @include pm();
      display: block;
      width: 70%;
      height: 3px;
      background-color: $carbon;
      border-radius: 2px;
    }
  }

  .active{
    background-color: $neutro-md;
  }

  .active:hover{
    background-color: $neutro-lt;
  }
}