@import '_vars';
@import '_mixins';

main{
  @include pm();
  @include min-width;
  width: 100%;
  min-width: 300px;
  background: $white-lt url('../img/bases/bg.jpg') center / 100px repeat;
}

.section{
  @include content-box;
  // @include wh(100vh);
  // @include pm(145px 0 20px 0, 0);
  @include pm(20px 0, 0);
  @include center-flex();
  height: 100vh;
  max-height: 100%;

      @include mediaSize($laptop){
        padding-top: 90px;
      }
  &_nofull{
    height: auto;
    min-height: 100vh;
    max-height: 100%;
  }
}

.container{
  &_main{
    @include wh(96%, 90%);
    @include center-flex(space-evenly);
    @include content-box;
    margin: auto;
    background-color: black;
    box-shadow: 8px 6px 2px rgba(0%, 0%, 0%, 0.6);
    color: $white-lt;
    // clip-path: polygon(80% 0, 100% 18%, 100% 100%, 0 100%, 0 0);

    .col{
      @include wh(44%, 90%);
      @include center-flex();
      overflow: hidden;

      &_backImg{
        background: black url('../img/trama_bk.png') center / 200px repeat;
      }

        @include mediaOrientation($landscape){
          @include wh(90%, 46%);
        }

      .slogan{
        @include wh(auto, 80%);

        h2{
          @include pm(0, 5px);
          display: inline;
          font-size: 1.6rem;
          font-weight: 200;
          margin-right: 30px;
          white-space: nowrap;

            @include mediaSize($smartphone){
              font-size: 2rem;
            }

            @include mediaSize($laptop){
              font-size: 2.6rem;
            }
        }

        h3{
          @include pm();
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;
          // margin-left: 23px;

            @include mediaSize($smartphone){
              font-size: 2rem;
            }

            @include mediaSize($laptop){
              @include pm(0, 5px);
              font-size: 3.2rem;
            }

          span{
            font-family: 'Libre Baskerville', serif;
            font-weight: 500;
            position: relative;
          }
        }
      }

      img{
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }
  }

  &_articles{
    @include wh(96%, 96%);
    @include center-flex(space-evenly);
    @include content-box;
    margin: auto;

    .header{
      @include wh(2rem);
      @include center-flex();
      color: $carbon;
      font-size: 2rem;

      h2{
        @include pm();
        font-size: 2rem;
        text-shadow: 1px 1px 2px $carbon;
      }
    }
    .shelf{
      .articles_group{
        @include wh();
        @include center-flex(space-evenly);
        @include pm(30px 10px);
        @include content-box;
      

        .article{
          @include wh(48%, 40%);
          border: 1px solid $gold;
          text-decoration: none;
          margin: 5px;

            @include mediaSO($tablet, $landscape){
              width: 18%;
              height: 100%;
              max-height: 400px;
            }

          .title{
            background-color: $neutro-md;
            color: $carbon;
            white-space: nowrap;
            overflow: hidden;
            justify-content: flex-start;
            height: 1.8rem;

            h2{
              display: inline-block;
              width: 100%;
              font-size: 1.1rem;
              margin: 5px;
            }
          }

          .img{
            padding: 0;
            height: calc(100% - 3.6rem);

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .footer{
            background-color: $carbon;
            height: 1.8rem;
            padding: 5px 10px;

            h2{
              font-size: 1rem;
              line-height: 0;
              margin: 5px auto;
            }

            h2::before{
              font-family: 'Font Awesome 5 Free';
              content: '\f155';
            }

          }
        }
      }
    }

  }

  &_blog{
    @include wh(96%, 90%);
    @include center-flex(space-evenly, center);
    @include content-box;
    margin: auto;
    background-color: black;
    box-shadow: 8px 6px 2px rgba(0%, 0%, 0%, 0.6);
    color: $white-lt;

    .col{
      @include wh(100%, calc(46% - 3px));
      @include center-flex();
      @include pm(10px 5px 15px);
      @include content-box;
      background: black url('../img/trama_bk.png') center / 200px repeat;

        @include  mediaOrientation($portrait){
          @include wh(calc(46% - 3px));
        }

      .bullet{
        @include center-flex(space-around, center, column);
        width: 80%;
        // background-color: black;

          // @include mediaOrientation($portrait){
          //   @include wh(80%, 80%);
          // }

        .logo{
          margin: 0 0 5px;
          border-bottom: 1px solid $gold;
          
          @include mediaSize($tablet){
            transform: scale(1.1);
          }
        }

        h2{
          @include pm();
          font-weight: 200;
          letter-spacing: 2px;
        }

        p{
          font-weight: 200;
          margin: 15px auto;
          text-align: center;
          letter-spacing: 1px; // posible borrado
        }
      }
    }

    .pleca{
      transform: rotate(5deg);
      @include mediaOrientation($portrait){
        order:-1;
        transform: rotate(-5deg);
      }
    }

    .col_img{
      @include wh(100%, 54%);
      clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0 100%);

        @include mediaOrientation($portrait){
          @include wh(54%, 100%);
          order: -2;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 100%);
        }
        
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
  }

  &_detail{
    @include wh();
    min-width: 300px;
    max-width: 1000px;

    .body{
      @include center-flex(center, center, row);

      .header{
        @include wh(auto);
        @include center-flex(space-between);

        .col-50{
          @include wh(auto);
  
            @include mediaSize($tablet){
              @include wh(100%, calc(50% - 15px));
            }
        }
      }
    }

    .img{
      @include wh();
      margin: 5px 0;
      border: 1px solid $gold;
      overflow: hidden;
      background-color: $white-lt;

        @include mediaSO($tablet, $landscape){
          @include pm();
        }

      img{
        width: 100%;
        min-height: 100%;
        // max-width: 500px;
        object-fit: cover;
      }
    }

    .info{
      @include wh();
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: $white-lt;
      border: 1px solid $neutro-bk;
      border-radius: 0 8px 0 0;
      color: $carbon;
      padding: 10px 5px;
      

      .name{
        @include content-box;
        display: inline-block;
        width: 100%;
        background-color: $neutro-md;
        font-weight: 500;
        margin: 0;
        padding: 5px;
        text-align: center;
        border-top-right-radius: 8px;
      }

      .feature{
        @include center-flex();
        font-size: 1.3rem;
        font-weight: 300;
        margin: 5px 0;
        width: 80%;
        margin: 10px 0;

        i{
          @include content-box;
          display: inline-block;
          width: 2rem;
          text-align: center;
          padding-right: 5px;
          font-size: 1.5rem;
        }

        span{
          @include content-box;
          display: inline-block;
          width: 8.5rem;
          padding-left: 5px;
          text-align: left;
          white-space: nowrap;
        }
      }

      .price{
        @include wh(5rem, 90%);
        @include center-flex;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 52%, 0 48%);
        background-color: rgb(100%, 7.1%, 31.5%);
        margin: 10px 0 15px;
        position: relative;
        border-radius: 8px;

          @include mediaSize(400px){
            // @include wh(5rem, 80%);
            max-width: 230px;
          }

        h3{
          font-size: 2rem;
          font-weight: 500;
          color: $white-lt;
          margin: 0;
        }

        span{
          // font-weight: 500;
          font-size: 1rem;
        }
      }

      .price::before{
        // content: '$';
        // display: inline-block;
        // font-size: 2rem;
        // font-weight: 300;
        // margin: 0 5px;
        // @include wh(2rem, 2rem);

        content: '';
        @include wh(1rem, 1rem);
        background-color: $white-lt;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);

      }

      .quantity{
        @include center-flex();

        label{
          font-size: 1.2rem;
        }

        .inputNumber{
          @include center-flex(space-around);
          @include pm(0, 0 10px);

          button{
            @include content-box;
            @include center-flex();
            @include wh(25px, 25px);
            background-color: none;
            color: black;
            border: 1px solid $gold;
            border-radius: 3px; 

            span{
              margin: 0 auto;
              font-size: 1.2rem;
              font-weight: 300;
            }
          }

          #quantity{
            @include content-box;
            font-size: 1.2rem;
            margin: 3px;
            text-align: center;
            width: 30px;
            height: 30px;
          }
        }
      }

      .total{
        @include center-flex();
        background-color: white;
        border: 1px solid $gold;
        border-radius: 8px;
        margin: 30px 0 20px;
        // padding: 5px 10px;
        font-size: 2.4rem;
        font-weight: 500;
        // text-align: center;
        width: 80%;
        max-width: 250px;

        h3{
          font-weight: 300;
          font-size: 1.4rem;
          margin: 5px auto;

          span{
            border-left: 1px solid $neutro-lt;
            font-size: 2.4rem;
            font-weight: 500;
            padding-left: 10px;
          }
        }
      }

      // .total:before{
      //   content:'Total $ ';
      //   display: inline;
      //   font-weight: 300;
      //   font-size: 1.4rem;
      //   border-right: 1px solid $neutro-bk;
      // }
    }

    .field{
      flex-direction: column;
      width: 100%;
      margin: 10px 0;
      padding: 5px 0;
      color: $neutro-bk;
      border-bottom: 1px solid $neutro-md;
    }

    .description{
      @include wh(auto);
      @include pm(10px, 15px 0 5px);
      border-bottom-left-radius: 8px;
      color: $carbon;
      background-color: $neutro-lt;

      .name{
        @include pm(5px);
        @include content-box;
        width: 100%;
        background-color: $neutro-md;
        font-weight: 500;
      }
    }
  }
}