@import '_vars';
@import '_mixins';

main{
  @include pm();
  @include min-width;
  width: 100%;
  min-width: 300px;
  background: $white-lt url('../img/bases/bg.jpg') center / 100px repeat;
}

.section{
  @include content-box;
  // @include wh(100vh);
  // @include pm(145px 0 20px 0, 0);
  @include pm(20px 0, 0);
  @include center-flex();
  height: 100vh;
  max-height: 100%;

      @include mediaSize($laptop){
        padding-top: 90px;
      }
  &_nofull{
    height: auto;
    min-height: 100vh;
    max-height: 100%;
  }
}

.container{
  &_main{
    @include wh(96%, 90%);
    @include center-flex(space-evenly);
    @include content-box;
    margin: auto;
    background-color: black;
    box-shadow: 8px 6px 2px rgba(0%, 0%, 0%, 0.6);
    color: $white-lt;
    // clip-path: polygon(80% 0, 100% 18%, 100% 100%, 0 100%, 0 0);

    .col{
      @include wh(44%, 90%);
      @include center-flex();
      overflow: hidden;

      &_backImg{
        background: black url('../img/trama_bk.png') center / 200px repeat;
      }

        @include mediaOrientation($landscape){
          @include wh(90%, 46%);
        }

      .slogan{
        @include wh(auto, 80%);

        h2{
          @include pm(0, 5px);
          display: inline;
          font-size: 1.6rem;
          font-weight: 200;
          margin-right: 30px;
          white-space: nowrap;

            @include mediaSize($smartphone){
              font-size: 2rem;
            }

            @include mediaSize($laptop){
              font-size: 2.6rem;
            }
        }

        h3{
          @include pm();
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;
          // margin-left: 23px;

            @include mediaSize($smartphone){
              font-size: 2rem;
            }

            @include mediaSize($laptop){
              @include pm(0, 5px);
              font-size: 3.2rem;
            }

          span{
            font-family: 'Libre Baskerville', serif;
            font-weight: 500;
            position: relative;
          }
        }
      }

      img{
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }
  }

  &_articles{
    @include wh(96%, 90%);
    @include center-flex(center, center);
    @include content-box;
    margin: auto;

    .header{
      @include wh(15%);
      @include center-flex(center, flex-start);
      color: $carbon;
      margin: auto;

      h2{
        @include pm();
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;

        @include mediaSize($tablet){
          font-size: 3rem;
        }
      }
    }
    .shelf{

      .articles_group{
        @include wh(85%);
        @include center-flex(space-between, center);
        @include pm(0 10px);
        @include content-box;
        overflow: visible;

        .container{
          @include center-flex(center, flex-start, column);
          @include wh(100%, calc(25% - 10px));
          @include content-box;
          color: $neutro-lt;
          text-decoration: none;

            @include mediaOrientation($portrait){
              @include wh(calc(20% - 10px), 100%);
            }

          .article{
            @include center-flex(space-between, center, column);
            @include wh(100%, 80%);
            @include pm(10px 5px);
            @include content-box;
            background-image: linear-gradient(45deg, rgba(36,24,18,1) 0%, rgba(39,39,39,1) 50%); 
            border-radius: 0 8px;
            text-decoration: none;
            box-shadow: none;
            position: relative;
            z-index: 0;

            @include mediaOrientation($portrait){
              @include wh(90%, 100%);
            }
            
            &::before{
              content:'';
              @include wh();
              background: url('../img/trama_bk.png') center / 200px repeat;
              border-radius: 0 8px;
              box-shadow: 6px 6px 6px black;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }

            .title{
              @include wh(30%);
              color: $white-lt;
              overflow: hidden;

                @include mediaAnd($tablet, $landscape){
                  @include wh(5rem);
                }

                @include mediaOrientation($portrait){
                  width: 40%;
                  height: 100%;
                }

              h2{
                @include content-box;
                display: inline-block;
                width: calc(100% - 20px);
                font-size: 0.8rem;
                font-weight: 500;
                margin: 0;
                padding: 0;
                text-align: center;
                text-shadow: 3px 3px 2px black;

                  @include mediaAnd($tablet, $landscape){
                    font-size: 2rem;
                    padding: 0 10px 5px;
                  }

                  // @include mediaOrientation($portrait){
                  //   font-size: 1.5rem;
                  //   text-align: left;
                  // }
              }
            }

            .img{
              @include wh(30%, 100%);
              // padding-bottom: 100%;
              position: relative;

                @include mediaAnd($tablet, $landscape){
                  @include wh(auto, 100%);
                  padding-bottom: 100%;
                }

                @include mediaOrientation($portrait){
                  // @include wh(100%, 30%);
                  width: 20%;
                  height: 100%;
                  padding-bottom: 0;
                }

              img{
                width: auto;
                height: 100%;
                top: 50%;
                position: absolute;
                right: -20%;
                transform: translateY(-50%);
                object-fit: cover;



                  @include mediaOrientation($portrait){
                    // width: auto;
                    height: 150%;
                    // text-align: center;
                    top: 0;
                    transform: translateY(-35%);
                    right: 0;
                    object-fit: contain;
                  }
              }
            }

            .footer{
              @include content-box;
              @include center-flex();
              @include wh(25%);
              // padding: 5px 10px;

                @include mediaOrientation($portrait){
                  @include wh(100%, 30%);
                  @include pm();
                  justify-content: flex-end;
                }

              .label{
                @include wh();
                max-width: 250px;
                max-height: 5rem;
                @include pm();

                &::before{
                  @include wh(8px, 8px);

                    @include mediaSize($tablet){
                      @include wh(16px, 16px);
                    }
                }

                .sign{
                  font-size: 0.8rem;

                    @include mediaSize($tablet){
                      font-size: 1.5rem;
                    }
                }

                .price{
                  font-size: 0.9rem;

                    @include mediaSize($tablet){
                      font-size: 2rem;
                    }
                }

                span{
                  font-size: 0.5rem;

                    @include mediaSize($tablet){
                      font-size: 1rem;
                    }
                }
              }

              // h2{
              //   font-size: 2rem;
              //   font-weight: 400;
              //   line-height: 1;
              //   margin: 0;
              // }

            }
          }
        }
      }
    }

  }

  &_blog{
    @include wh(96%, 90%);
    @include center-flex(space-evenly, center);
    @include content-box;
    margin: auto;
    background-color: black;
    box-shadow: 8px 6px 2px rgba(0%, 0%, 0%, 0.6);
    color: $white-lt;

    .col{
      @include wh(100%, calc(46% - 3px));
      @include center-flex();
      @include pm(10px 5px 15px);
      @include content-box;
      background: black url('../img/trama_bk.png') center / 200px repeat;

        @include  mediaOrientation($portrait){
          @include wh(calc(46% - 3px));
        }

      .bullet{
        @include center-flex(space-around, center, column);
        width: 80%;

        .logo{
          margin: 0 0 5px;
          border-bottom: 1px solid $gold;
          
          @include mediaSize($tablet){
            transform: scale(1.1);
          }
        }

        h2{
          @include pm();
          font-weight: 200;
          letter-spacing: 2px;
        }

        p{
          font-weight: 200;
          margin: 15px auto;
          text-align: center;
          letter-spacing: 1px; // posible borrado
        }
      }
    }

    .pleca{
      transform: rotate(5deg);
      @include mediaOrientation($portrait){
        order:-1;
        transform: rotate(-5deg);
      }
    }

    .col_img{
      @include wh(100%, 54%);
      clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0 100%);

        @include mediaOrientation($portrait){
          @include wh(54%, 100%);
          order: -2;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 100%);
        }
        
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
  }

  &_detail{
    @include wh();
    min-width: 300px;
    max-width: 1000px;

    #sku{
      background-color: $carbon;
      border: none;
      display: none;
    }

    .body{
      @include center-flex(center, center, row);

      .header{
        @include wh(auto);
        @include center-flex(space-between);

        .col-50{
          @include wh(auto);
  
            @include mediaSize($tablet){
              @include wh(100%, calc(50% - 15px));
            }
        }
      }
    }

    .img{
      @include wh();
      margin: 5px 0;
      border: 1px solid $gold;
      overflow: hidden;
      background-color: $white-lt;

        @include mediaSO($tablet, $landscape){
          @include pm();
        }

      img{
        width: 100%;
        min-height: 100%;
        // max-width: 500px;
        object-fit: cover;
      }
    }

    .info{
      @include wh();
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: $white-lt;
      border: 1px solid $neutro-bk;
      border-radius: 0 8px 0 0;
      color: $carbon;
      padding: 10px 5px;
      

      .name{
        @include content-box;
        display: inline-block;
        width: 100%;
        background-color: $neutro-md;
        font-weight: 500;
        margin: 0;
        padding: 5px;
        text-align: center;
        border-top-right-radius: 8px;
      }

      .feature{
        @include center-flex();
        font-size: 1.3rem;
        font-weight: 300;
        margin: 5px 0;
        width: 80%;
        margin: 10px 0;

        i{
          @include content-box;
          display: inline-block;
          width: 2rem;
          text-align: center;
          padding-right: 5px;
          font-size: 1.5rem;
        }

        span{
          @include content-box;
          display: inline-block;
          width: 8.5rem;
          padding-left: 5px;
          text-align: left;
          white-space: nowrap;
        }
      }

      .quantity{
        @include center-flex();

        label{
          font-size: 1.2rem;
        }

        .inputNumber{
          @include center-flex(space-around);
          @include pm(0, 0 10px);

          button{
            @include content-box;
            @include center-flex();
            @include wh(25px, 25px);
            background-color: none;
            color: black;
            border: 1px solid $gold;
            border-radius: 3px; 

            span{
              margin: 0 auto;
              font-size: 1.2rem;
              font-weight: 300;
            }
          }

          button:hover{
            background-color: $neutro-md;
          }

          #quantity{
            @include content-box;
            font-size: 1.2rem;
            margin: 3px;
            text-align: center;
            width: 50px;
            height: 30px;
          }
        }
      }

      .total{
        @include center-flex();
        background-color: white;
        border: 1px solid $gold;
        border-radius: 8px;
        margin: 30px 0 20px;
        // padding: 5px 10px;
        font-size: 2.4rem;
        font-weight: 500;
        // text-align: center;
        width: 80%;
        max-width: 250px;

        .output{
          // @include center-flex();
          height: 50px;
          margin: 0 auto;
          line-height: 1;

          .prefix{
            font-weight: 300;
            font-size: 1.4rem;
            margin: 5px auto;
            border-right: 1px solid $neutro-lt;
            padding-right: 10px;
          }

          #totalPrice{
            // border-left: 1px solid $neutro-lt;
            margin-left: 10px;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
          }
        }
      }
    }

    .field{
      flex-direction: column;
      width: 100%;
      margin: 10px 0;
      padding: 5px 0;
      color: $neutro-bk;
      border-bottom: 1px solid $neutro-md;
    }

    .description{
      @include wh(auto);
      @include pm(10px, 15px 0 5px);
      border-bottom-left-radius: 8px;
      color: $carbon;
      background-color: $neutro-lt;

      .name{
        @include pm(5px);
        @include content-box;
        width: 100%;
        background-color: $neutro-md;
        font-weight: 500;
      }
    }
  }

  &_buy{
    .body{
      justify-content: space-around;
      align-items: flex-start;
      // height: auto;

      .detail, .request{
        @include center-flex(space-between, center, column);
        width: calc(100% - 15px);

          @include mediaSize($tablet){
            width: calc(50% - 15px);
          }
      }

      .detail{

        // border: 1px solid $neutro-lt;
        // border-radius: 0 8px;
        
        .name{
          padding: 0 10px;
          h2{
            color: $neutro-lt;
          }
        }
      }

      .request{
        border: 1px solid $neutro-lt;
        border-radius: 0 8px;

        @include mediaSize($tablet){
          height: 100%;
        }

        .title{
          background-color: $neutro-lt;
          border-radius: 0;
          color:$carbon;
          padding: 5px 0;

          h2{
            @include pm(0, auto);
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
            // width: 90%;
          }
        }

        .payment{
          @include center-flex();
          width: 100%;
          border-bottom: 0;

          .head{
            width: 100%;

            h2{
              color: white;
              font-size: 1.8rem;
              font-weight: 400;
              text-align: center;
            }
          }

          .methods{
            width: auto;

            .feature{
              @include pm(0, 20px 0);
              min-width: 51%;
              color: $neutro-lt;
              font-size: 1.2rem;
              font-weight: 300;

              &:hover{
                color: $gold;

                i{
                  transform: scale(1.2);
                }
              }

              i{
                font-size: 1.4rem;
                margin-right: 5px;
                color: $gold;
                transition: transform 0.3s ease-out;
              }

              label{
                margin-left: 5px;
              }
            }
          }
        }

      }

      .total{
        @include center-flex(center, center, column);
        width: calc(100% - 16px);
        border: 1px solid $gold;
        border-radius: 0 8px;
        padding: 10px 0;
        transition: transform 0.3s ease-out;
        margin-bottom: 10px;

        &:hover{
          transform: scale(1.05);
        }
    
        .quantity{
          font-size: 1.4rem;

          #quantity{
            border: 0;
            background-color: rgba(96.1%, 0%, 34.1%, 0);
            font-size: 1.8rem;
            font-weight: 600;
            color: $neutro-lt;
            text-align: center;
            width: 20px;
          }

          .unidades{
            font-size: 1.2rem;
            font-weight: 300;
          }
        }

        .final{
          @include center-flex(center, center, column);
          @include content-box;
          margin-bottom: 10px;
          margin-top: 20px;
          width: calc(100% - 10px);
          background-color: $gold;
          border-radius: 0 8px;
          color: $carbon;
          padding: 10px;

            @include mediaSize(400px){
              flex-direction: row;
              align-items: baseline;
            }

          .sign{
            font-size: 1.5rem;
          }

          .price{
            font-size: 2.2rem;
            font-weight: 500;
            margin: 0 10px;
          }

        }
      }
    } 
  }

  &_search{
    @include center-flex(space-around);
    @include wh(100%, 90%);
    // padding-top: 50px;
    max-width: 1500px;
    min-width: 300px;

    .item{
      @include center-flex(center, flex-end);
      @include wh(280px);
      @include pm(0, 10px 0 20px);
      @include content-box;
      color: $neutro-lt;
      max-width: 650px;

        @include mediaSize($laptop){
          min-width: 350px;
        }

      .container{
        @include wh(80%);
        @include center-flex(center, center, column);
        // background: rgb(36,24,18) url('../img/trama_bk.png') center / 200px repeat;
        background-image: linear-gradient(45deg, rgba(36,24,18,1) 0%, rgba(39,39,39,1) 50%); 
        // background-image: url('../img/trama_bk.png'), linear-gradient(45deg, rgba(36,24,18,1) 0%, rgba(18,18,18,1) 50%); 
        border-radius: 0 8px;
        box-shadow: 4px 4px 8px black;
        position: relative;
        z-index: 0;

          @include mediaSize($tablet){
            flex-direction: row;
          }

        &::after{
          content:'';
          @include wh();
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background: url('../img/trama_bk.png') center / 200px repeat;
          border-bottom-left-radius: 8px;
        }

        &_head{
          @include wh(20%, calc(100% - 4rem));
          @include center-flex(space-between, center);
          @include content-box;
          @include pm(0 5px 0 10px);
          // padding-left: 10px;
          font-size: 0.8rem;
          text-shadow: 3px 3px 6px black;
          order: 2;

            @include mediaSize($tablet){
              @include center-flex(space-between, flex-start, column);
              @include wh(100%, 50%);
              @include pm(10px);
              padding-left: 30px;
              font-size: 1.4rem;
              order:1;
            }

          h2{
            @include center-flex(flex-start, flex-start);
            @include pm();
            // display: block;
            margin-bottom: 0;
            width: 50%;
            max-width: 220px;
            font-weight: 600;
            height: 100%;
            overflow: hidden;
            transform-origin: 15px 20px;
            transform: rotate(-90deg);
            @include content-box;

              @include mediaSize($tablet){
                align-items: flex-start;
                margin-top: 15px;
                width: 100%;
                height: auto;
                transform: rotate(0deg);
              }
          }

          a{
            @include content-box;
            width: calc(50% - 10px);
            margin: 0 5px 5px 0;
            margin-right: 5px;

            @include mediaSize($tablet){
              width: 100%;
              max-width: 200px;
            }
          }
        }

        &_img{
          @include wh(80%, calc(100% - 4rem));
          @include content-box;
          position: relative;
          order: 1;

            @include mediaSize($tablet){
              @include wh(100%, calc(50% - 4rem));
              order: 2;
            }

          img{
            width: 100%;
            height: 125%;
            position: absolute;
            bottom: 1rem;
            max-width: 250px;
            margin: 0 auto;
            left: 50%;
            object-fit: contain;

            transform: translateX(-50%);

              @include mediaSize($tablet){
                width: auto;
                height: 125%;
                bottom: 2rem;
                right: 1rem;
              }
          }
        }

        &_options{
          @include wh(100%, 4rem);
          @include pm();
          @include center-flex(flex-start, center, column);
          @include content-box;
          font-size: 2rem;
          background-color: rgba(18,18,18,1);
          border-top-right-radius: 8px;
          order: 3;

          button{
            width: 3.5rem;
            height: 3.5rem;
            margin-bottom: 3px;
            border-bottom: 1px solid #202020;

            &:before{
              @include wh(3.5rem, 3.5rem);
              background-color: $gold;
            }

            i.fav{
              font-weight: 400;
            }
          }
        }
      }
        
    }
  }
}