.label{
  @include wh(5rem, 90%);
  @include center-flex(flex-end);
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 52%, 0 48%);
  background-color: #FF1250;
  margin: 10px 0 30px;
  position: relative;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 0.5s ease-out;

    @include mediaSize(400px){
      max-width: 230px;
    }

  &:hover{
    transform: scale(1.1);
  }

  &::before{
    content: '';
    @include wh(1rem, 1rem);
    background-color: $white-lt;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .sign{
    font-size: 1.5rem;
    font-weight: 300;
    color: $white-lt;
    margin: 0;
    width: 15%;
    text-align: center;
  }

  .price{
    font-size: 2.4rem;
    font-weight: 500;
    color: $white-lt;
    margin: 0;
    background-color: rgba(100%, 100%, 100%, 0);
    border: none;
    width: 45%;
    text-align: center;
  }

  span{
    color: $white-lt;
    text-align: center;
    width: 20%;
    font-size: 1rem;
  }

  &.gray{
    background-color: $neutro-bk;
  }

  &.gold{
    background-color: $gold;

    .sign, .price, span{
      color: $carbon;
    }
  }
}

.back-black{
  background-color: black;
  color: white;
}

.pleca{
  @include wh(3px, 90%);
  background-color: $gold;
  transform: rotate(-5deg);
  transition: transform 0.5s ease-out;
  
    @include mediaOrientation($landscape){
      @include wh(90%, 3px);
      transform: rotate(-10deg);
    }
}

.logo{
  @include center-flex();
  @include wh(50px);
  @include pm(0, 10px 0);
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;

    @include mediaSize($smartphone){
      max-width: 170px;
    }
  h1{
    @include wh(30px, 110px);
    @include pm(10px 15px);
    background-color: black;
    color: white;
    font-weight: 400;
    text-align: center;
  }
}

.mx-10px{
  margin: 10px 0;
}

.m-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

.disabled{
  color: $neutro-md !important;
  background-color: $neutro-lt !important;
  transform: scale(1) !important;
  
  &:hover{
    color: $neutro-md !important;
  background-color: $neutro-lt !important;
  transform: scale(1) !important;
  }

  &::before{
    color: inherit !important;
    background-color: inherit !important;
    transform: scale(1) !important;
  }
}

// .bg-black{
//   // background-color: black;
//   background: $carbon url('../img/bases/bg.jpg') center / 100px repeat;
// }

.error{
  border: 1px solid #B71C1C !important;
  box-shadow: 2px 2px 4px red, -2px -2px 4px red;
}

.aviso{
  color: #FF1744;
  font-weight: 200;
  font-size: 0.8rem;
}