// #region [1] ======== ( COLORES ) ========

$primario: #0091EA;
$secundario: #1DE9B6;
$terciario: #84FFFF;

$white-lt: #ECEFF1;

$neutro-lt: #E0E0E0;
$neutro-md: #BDBDBD;
$neutro-bk: #616161;

$carbon: #272727;
$pleca: #FFAB00;


// #endregion   ========================

// #region [2] ======== ( TAMAÑOS DE PANTALLA ) ========
$portrait: portrait;
$landscape: landscape;
$desktop: 1851px;
$laptop: 1221px;
$tablet: 681px;
$smartphone: 320px;
// #endregion   ========================