@import '_vars';
@import '_mixins';
@import '_extends';
// @import '_navs';
@import '_navs';
@import '_forms';
@import '_sections';
@import '_buttons';
@import '_cols';
@import '_utilities';

body, main, nav, footer, div, input, button{
  @include pm();
  font-family: 'Raleway', sans-serif;
}

.cart{
  @include center-flex(center, space-between, column);

  .title{
    h1{
      @include pm();
      margin-bottom: 20px;
    }
  }

  &_item{
    @include wh(auto, 98%);
    @include center-flex(center, center, row);
    @include pm(0 1%);
    background-color: $neutro-lt;
    border: 1px solid $neutro-bk;
    color: $carbon;

    .img{
      @include wh(0, 28%);
      @include content-box;
      @include pm(0, 1%);
      border: 1px solid $neutro-md;
      padding-bottom: 28%;
      
    }

    .detail{
      @include wh(auto, 70%);
      @include pm(5px);
      @include content-box;
      .info{
        @include wh(auto);
        @include center-flex(space-between);

        h2{
          @include wh(auto, 96%);
          margin-right: 4%;
          display: inline-block;
          text-align: right;
        }
      }

      .options{
        @include wh(auto);
        @include center-flex(flex-end);

        a.goto{
          @include pm(5px 10px, 5px);
          border-radius: 5px;
          color: $white-lt;
          display: block;
          background-color: $neutro-md;
          text-decoration: none;

        }

        a.delete{
          @include pm(5px 10px, 5px);
          border-radius: 5px;
          color: $white-lt;
          display: block;
          background-color: #FF1744;
          text-decoration: none;

        }
      }
    }
  }
}

.fp-tableCell{
  box-sizing: content-box !important;
  max-height: 100% !important;
  // padding-top: 140px !important;
}

.fp-section.fp-table, .fp-slide.fp-table{
  display: flex !important;
}

.fp-prev, .fp-next{
  @include center-flex();
  width: 80px !important;
  height: 80px !important;
  border: none !important;
  transform: scale(0.5);
  animation: move 0.8s ease-out alternate infinite;
}

.fp-prev{
  left: 5px !important;

  &:before{
    content: '\f137';
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 4rem;
    font-weight: 600 !important;
    color: $carbon;
  }
}

.fp-next{
  right: 5px !important;

  &:before{
    content: '\f138';
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 4rem;
    font-weight: 600 !important;
    color: $carbon;
  }
}
// #endregion   ========================

@keyframes move{
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(0.7);
  }
}

footer{
  @include wh(60px);
  background-color: $neutro-bk;
}

// #region [w] ======== ( !! ) ========
// .hidden{
//   display: none !important;
//   opacity: 1;

//     @include mediaSize($laptop){
//       display: flex !important;
//     }
// }

.transition{
  transition-property: height;
  transition-delay: 0s;
  transition-duration: 0.5s;
}
// #endregion   ========================

// *{
//   border: 1px solid red;
// }